{% extends 'layout.html' %}

{% block body %}
<h1>Welcome back, {{session.get('name')}}</h1>
{% include 'includes/_messages.html' %}
<p></p>

<p> Your current balance is {{ balance }} BitCoin</p>


<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Blockchain</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Transaction</th>
            <th>Hash</th>
          </tr>
        </thead>
        
        <tbody>
          {% for block in blockchain %}
            <tr>
              <td>{{block.data}}</td>
              <td>{{block.hash()}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated today at {{ct}}</div>
</div>
{% endblock %}